/Stocks.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
/Stocks.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
/Stocks.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Stocks.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Stocks.xcodeproj/project.pbxproj
